.home {
    font-size: 32px;
    font-weight: bold;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wrap{
        margin-bottom: 20px;
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        color: blue;
    } 
 
    .color-red{
        color: red ;
    }
    .btn{
        background-color: transparent; 
        border: 1px solid blue;
        color: blue;
        border-radius: 25px;
        font-size: 16px;
        font-weight: 600; 
        padding: 14px 25px;
        cursor: pointer;
    }
    .btn:hover{
        background-color: blue;
        color: #fff;
    }